UniversityPortal.Web/obj
UniversityPortal.DAL/obj
UniversityPortal.BLL/obj
UniversityPortal/.vs
UniversityPortal.Tests/obj
UniversityPortal.Models/obj/Debug
UniversityPortal.BLL/bin
UniversityPortal.DAL/bin
UniversityPortal.Tests/bin
UniversityPortal.Web/bin
UniversityPortal.DAL/DataBase/UniversityPortalDB_log.ldf
UniversityPortal.DAL/DataBase/UniversityPortalDB.mdf
UniversityPortal.Models/bin
.vs
